<div class="pt-2">
  <div class="row mh-100">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-16" 
      [ngStyle]="{ 'min-height': (height + 100) + 'px' }">
      <tabset>
        <tab heading="JSONLD">
          <aero-jsonEditor #myJsonEdit class="my-json-editor"
            [options]="jsonEditOptions"
            (changeContent)="changeJson($event)"></aero-jsonEditor>
        </tab>
        <tab heading="Table">
          <div *ngIf="isReady" class="d-flex">
            <select class="form-select" aria-label="Default select example" 
            [(ngModel)]="selectedType" (change)="onSelectType($event)">
              <option selected>Open this select menu</option>
              <ng-template ngFor let-item [ngForOf]="nodeTypeList">
                <option *ngIf="item" [value]="item">{{item}}</option>              
              </ng-template>
            </select>
          </div>
          <div *ngIf="isReady && uniformNodeList.length > 0" class="d-flex border pt-2">
            <div class="table-responsive">
              <table class="table">
                <thead class="table-primary">
                  <tr>
                    <th>@id</th>
                    <th>title</th>
                    <th *ngFor="let item of nodeAttributeList" scope="col">{{item}}</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-template ngFor let-item [ngForOf]="uniformNodeList" let-i="index">
                    <tr [ngClass]="{'table-light': i % 2}">
                      <td>{{ item.get('id') }} </td>
                      <td>{{ item.get('title') }} </td>
                      <td *ngFor="let key of nodeAttributeList">{{ item.get(key) }}</td>
                    </tr>      
                  </ng-template>          
                </tbody>
              </table>
            </div>
          </div>
        </tab>
        <tab heading="Visual">
          <div *ngIf="isReady" class="d-flex">
            <div class="col-12">
              <form class="d-flex" autocomplete="off">
                <input class="form-control me-sm-2" 
                  [(ngModel)]="selectedNode" name="node"
                  [typeahead]="typeaheadNodeList" typeaheadOptionField="title"
                  [typeaheadItemTemplate]="customItemTemplate"
                  [isAnimated]="true" 
                  (typeaheadOnSelect)="onSelect($event)"
                  placeholder="Show">
              </form>
            </div>
          </div>
          <div *ngIf="isReady" class="d-flex border pt-2">
            <ngx-graph class="chart-container" 
              [view]="[width, isStacked ? height * 2 : height - 50]"
              [links]="edges" 
              [nodes]="nodes"
              [showMiniMap]="true">
              <ng-template #nodeTemplate let-node>
                <svg:g class="node">
                  <svg:rect rx="4px"
                    [attr.width]="node.dimension.width + (node.canExpand ? 20 : 0)"
                    [attr.height]="node.dimension.height"            
                    [attr.fill]="node.isLiteral ? '#8e8c84' : '#325d88'"
                  />
                  <svg:text alignment-baseline="central" 
                    [attr.x]="10" 
                    [attr.y]="node.dimension.height / 2"
                    fill="white">
                    {{node.label}}
                  </svg:text>

                  <path *ngIf="node.canExpand"
                    [attr.transform]="'translate(' + node.dimension.width + ', 7)'" 
                    fill="white"
                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"
                    (click)="expandNode(node.label)"
                  />
                </svg:g>
              </ng-template>

              <ng-template #linkTemplate let-link>
                <svg:g class="edge">
                  <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
                  <svg:text class="edge-label" text-anchor="middle">
                    <textPath
                      class="text-path"
                      [attr.href]="'#' + link.id"
                      [style.dominant-baseline]="link.dominantBaseline"
                      startOffset="50%"
                    >
                      {{link.label}}
                    </textPath>
                  </svg:text>
                </svg:g>
              </ng-template>
            </ngx-graph>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
<ng-template #customItemTemplate let-model="item">
  <span><strong>{{model.title}}</strong> - {{model.id}}</span>
</ng-template>
