<div class="container">
  <h2 class="pt-2">JSTR's Yet Another JSON-LD Playground</h2>
  <div>
    This site was inspired by <a href="https://json-ld.org/playground/">json-ld playground</a>. When dealing with large JSON-LD content, their visualizer broke. This is a pure Angular version using web worker to offload heavy calculation from the main browser thread. Over time, I plan to increase capabilities.
  </div>
  <h2 class="pt-2">Introductory Materials</h2>
  <ul>
    <li>
      <a href="http://www.youtube.com/watch?v=4x_xzT5eF5Q" target="_blank">What is Linked Data?</a> Short video introduction to Linked Data by Manu Sporny.
    </li>
    <li>
      <a href="http://www.youtube.com/watch?v=vioCbTo3C-4" target="_blank">What is JSON-LD?</a> Short video introduction to JSON-LD by Manu Sporny.      
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=UmvWk_TQ30A" target="_blank">JSON-LD: Core Markup</a> An overview of some of the core markup features of JSON-LD including types, aliasing, nesting, and internationalization support by Manu Sporny.
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=Tm3fD89dqRE" target="_blank">JSON-LD: Compaction and Expansion</a> An overview of JSON-LD's compaction and expansion features and how you can use them to merge data from multiple sources by Manu Sporny.
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=QdUZaYeQblY" target="_blank">Linked Data Signatures</a> An overview of how digital signatures can be added to Linked Data to provide verifiable statements on the Web by Manu Sporny.
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=eWtOg3vSzxI" target="_blank">Credentials on the Web</a> A quick introduction to verifiable credentials on the Web by Manu Sporny.
    </li>
    <li>
      <a href="https://jsld.org/" target="_blank">jsld.org</a> Short stories, use cases and demos building on JSON-LD.</li>
  </ul>
  <h2 class="pt-2">Articles</h2>
  <ul>
    <li>
      <a href="http://m.lanthi.com/www2013-paper" target="_blank">Creating 3rd Generation Web APIs with JSON-LD and Hydra</a>, Markus Lanthaler. Proceedings of the Proceedings of the 22nd International World Wide Web Conference (WWW2013), pp. 35-37. Rio de Janeiro, Brazil: ACM Press.
    </li>
    <li>
      <a href="http://m.lanthi.com/wsrest2013-paper" target="_blank">Model Your Application Domain, Not Your JSON Structures</a>, Markus Lanthaler and Christian Gütl. Proceedings of the 4th International Workshop on RESTful Design (WS-REST 2013) at WWW2013, pp. 1415-1420. Rio de Janeiro, Brazil: ACM Press.
    </li>
    <li>
      <a href="http://m.lanthi.com/ldow2013-paper" target="_blank">Hydra: A Vocabulary for Hypermedia-Driven Web APIs</a>, Markus Lanthaler and Christian Gütl. Proceedings of the 6th Workshop on Linked Data on the Web (LDOW2013) at WWW2012. Rio de Janeiro.
    </li>
    <li>
      <a href="http://m.lanthi.com/jsonld4rest-paper" target="_blank">On Using JSON-LD to Create Evolvable RESTful Services</a>, Markus Lanthaler and Christian Gütl. Proceedings of the 3rd International Workshop on RESTful Design (WS-REST 2012) at WWW2012, pp. 25-32. Lyon, France: ACM Press.
    </li>
  </ul>
  <h2 class="pt-2">Key Dependencies</h2>
  <ul>
    <li><a href="https://www.npmjs.com/package/@rdfjs/parser-jsonld">@rdfjs/parser-jsonld</a></li>
    <li><a href="https://www.npmjs.com/package/@swimlane/ngx-graph">@swimlane/ngx-graph</a></li>
    <li><a href="https://www.npmjs.com/package/bootswatch">bootswatch</a></li>
    <li><a href="https://www.npmjs.com/package/ng-svelt-json-editor">ng-svelt-json-editor</a></li>
  </ul>
</div>